<%= form_for @micropost do |f| -%>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  </div>
<% end -%>